body{
    background-color: red;
    margin:0 auto;
    padding: 0;
}

.header{
    top:0px;
    width:100%;
    height:14rem;
    color:white;
    position:absolute;
    text-align:center;
    background-color:black;
}
.header .title {
    line-height:51px;
    vertical-align:middle;
}

.location-basic-information{
    top:14rem;
    width:100%;
    height:14rem;
    background-color: aqua;
    position:absolute;
}

#mapid {
    height:31rem;
    top:28rem;
    position: absolute;
    width:50%;
}
#mapidtwo {
    height:31rem;
    top:28rem;
    left:50%;
    position: absolute;
    width:50%;
    background-color: aqua;
}